@import "../../styles/constants.scss";

.about-container {
	.about-label,
	.about-text {
		margin: 5vh 0;
	}
	
	.about-label {
		border-bottom: 1px solid $dark;
		font-size: 3vh;
		color: $dark;
	}
	
	.about-text {
		font-family: Roboto-Light;
		font-size: 3vh;
		color: $dark;

		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			margin: 0 2vw;
		}

		img {
			height: 4vh;
		}
	}

	.about-donation {
		display: flex;

		& > button > img {
			height: 4vh;
		}
	}

	.about-text-smaller {
		margin: 3vh 0;
		font-family: Roboto-Light;
		font-size: 2vh;
	}
}
