@import "../../styles/constants.scss";

.calendar-nav-container {
	background: white;

	display: flex;
	box-shadow: 0 4px 8px $dark;

	position: fixed;
	top: 6vh;
	left: 0;
	right: 0;
	margin: auto;

	width: 80%;
	height: 4.5vh;

	color: $dark;

	&.on-calendar {
		top: 15vh;
	}

	& > div {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		width: percentage(1 / 3);
	}

	& > .active {
		background: $dark;
		color: white;
		border-bottom: 4px solid #00aeef;
	}
}